@media print{@page {size: landscape}}


.expense_page {
    page-break-after: always;
}

.left_column{
    font: 9pt 'trebuchet ms',arial,sans-serif;
    float: left;
    width: 49.5%;
    height: 665px;
}

.original_left{
    height: 100%;
    position: relative;
    
}

.original_right::after {
    content: url(../../img/report/JHConsorcios.png);
    margin-left: 13%;
    padding-top: 35%;
    opacity: 0.05;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.original_left::after  {
    content: url(../../img/report/JHConsorcios.png);
    margin-left: 13%;
    padding-top: 35%;
    opacity: 0.05;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.original_right{
    height: 100%;
    position: relative;
}

.right_column{
    font: 9pt 'trebuchet ms',arial,sans-serif;
    width: 49.5%;
    margin-left: 0.5%;
    float: left;
    height: 665px;
}

.header{
    font: 10pt arial, sans-serif;
    text-align: left;
    width: 100%;
    border: solid 1px #333;
    border-radius: 2px;
}

.header div{
    display: inline-block;
}

.header_left{
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: top;
    margin-left: 1%;
    width: 63%;
}

.header_right{
    font: 9pt arial, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1%;
    width: 33%;
    margin-right: 0;
    border-left: 1px solid #333;
}

.detail{
    width: 98%;
    border: solid 1px #333;   
    margin: 10px 0 10px 0;
    padding: 5px 1% 5px 1%;
    border-radius: 2px;
}

.detail_title {
    text-align: center;
    font: 10pt arial, sans-serif;
    margin-top: 4px;
    margin-bottom: 6px;
}

.detail_table {
    width: 100%;
    margin: 10px 0 5px 0;
}

.detail_table_row div {
    display: inline-block;
    margin: 1px 0 0 0;
}

.row_description {
    width: 78%;
    font: 9pt arial, sans-serif;
}

.row_price {
    width: 19%;   
    text-align: right;
}

.summary_section {
    width: 98%;
    border: solid 1px #333;   
    margin: 10px 0 10px 0;
    padding: 5px 1% 5px 1%;
    border-radius: 2px;
}

.payment_section {
    width: 100%;
    position: absolute; 
    bottom: 0;
}

.bank_section {
    width: 98%;
    border: solid 1px #333;   
    margin: 10px 0 10px 0;
    padding: 5px 1% 5px 1%;
    border-radius: 2px;
    font: 9pt arial, sans-serif;
    text-align: center; 
}

.codebar_section {
    width: 98%;
    border: solid 1px #333;   
    margin: 10px 0 10px 0;
    padding: 5px 1% 5px 1%;
    border-radius: 2px;
    text-align: center;
    font: 9pt arial, sans-serif;
}

@font-face {
  font-family: 'CodebarFont';
  src:  url('IDAutomationHI25L.ttf') format('ttf'),
        url('IDAutomationHI25M.ttf') format('ttf');
}

.codebar_section span {
    font-family: 'CodebarFont';
    font-size: 12pt;
}

.codebar_section p:first-of-type {
    margin-top: 4px; 
}

p {
    margin-top: 0px;
    
}

p img {
    display: inline;
    vertical-align: middle;
    margin-bottom: 1px;
}